@import './variables.scss';
@import './searchBar.scss';
@import './searchResults.scss';
@import './modal.scss';

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}
header {
  display: flex;
  justify-content: center;
}
.banner-image {
  height: 150px;
}

.nothing-found {
  display: flex;
  justify-content: center;
}

footer {
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 100%;
  display: flex;
  position: relative;
  bottom: 0px;
}
