//--------------------Color Palette------------------//
//Card Border colors
$col-border-top: red;
$col-border-right: yellow;
$col-border-bottom: green;
$col-border-Left: blue;
$col-card-back: whitesmoke;
$col-hidden-title: white;

$speed-hover:1;
$speed-return:1;
